fastapi
uvicorn[standard]
pydantic
pydantic-settings
openai
supabase
nltk
vaderSentiment
python-dotenv
google-generativeai 
google-auth 
tensorflow-cpu
textblob
transformers
sentence-transformers
torch
numpy
python-multipart
httpx
logging
datetime
json
typing